
body{
    background-color: #581C1C;
    color: white;

}

h1{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    margin-left: 20px;
}

tr, td{
    border: 1px solid black;
    padding: 30px;
    background-color: #D9D9D9;
}

#clues-grid tr, #clues-grid td{
    padding: 13px;
}
